
*{
    box-sizing: border-box;
}

body {
    height: 1550px;
}

header {
  display: flex;
  height: 120px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  margin-bottom: 2%;
  margin-top: 10px;
  padding-top: 10px;
  width: 1150px;
}
  
nav ul li{
  display: inline;
  
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  

  }
  

  nav {
  float: right;
  width: 90%;
  margin: auto;
  margin-bottom: 5%;

  }
  
  nav ul li a {
  text-decoration: none;
  color: gray;
  padding-right: 20px;
  font-size: large;

  }

  .logo {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 10px;
    float: left;
    width: 40%;
    height: 70px;
    clear: both;
    margin-top: 1%;
  
  }



#hero {
  margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
}


article{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 80%;
    height: 80%;
  }
  
  .banner {
    flex: 33.33%;
    padding: 15px;
  }

  section img {
    float: left;
    margin-bottom: 2%;
    margin-left: auto;
    position: relative;
    width: 50%;
    height: 300px;
  }
  section div {
    float: right;
    width: 350px;
    margin-right: auto;
    position: relative;
    padding-left: 40px;
  }

  section {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2%;
      display: flex;
  }
  h2 {
      font-size: xx-large;
      margin-bottom: 10px;
  }

  .button {
    border:lightgray;
    border-style:unset;
    border-radius: 5%;
    display: inline-block;
    
    width: 150px;
    height: 30px;
    text-decoration: none;
    background-color:lightgray;
    color: black;
    text-align: center;
    background-size: 600px;
    margin: 5%;
  }
  
    footer {
      width: 100%;
      background-color: gray;
      clear: both;
      height: 110px;
      margin-top: 2%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2%;
      width: 1140px;
    }





  



